# Pandas

### Pandas is an open source software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### It is commonly used to handle data and provides useful functions and tools to do data cleaning and numerical analysis.

In [12]:
import pandas as pd

In [13]:
df_sales_volume_data= pd.read_csv('complete_dataset.csv')

In [14]:
df_sales_volume_data

,Prodno,Product,Year,Month,Sales,Number_of_items
0,E10100,ClarencetheCowsmall,2015,January,1590.0,2
1,E10110,ClarencetheCowmedium,2015,January,1130.0,1
2,E10120,ClarencetheCowlarge,2015,January,3090.0,2
3,E10160,ClarencetheCowPlanter,2015,January,4785.0,3
4,E10200,BrucetheBullsmall,2015,January,1640.0,2
...,...,...,...,...,...,...
4839,E10600,TheBlindMouse,2020,December,2252.0,4
4840,E40310,KoolKombiBlue,2020,December,3650.0,1
4841,E40322,HoleinOneCooler,2020,December,2895.0,1
4842,E70172,MiniSnowman,2020,December,643.5,2
4843,Ice,FakeDécor,2020,December,360.0,4

### Check data types

In [15]:
df_sales_volume_data.dtypes

Prodno              object
Product             object
Year                 int64
Month               object
Sales              float64
Number_of_items      int64
dtype: object

### Examine summary statistics

In [17]:
df_sales_volume_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,4844.0,2017.680842,1.453142,2015.0,2017.00,2018.00,2019.0,2020.00
Sales,4844.0,2213.312828,4859.084218,-3695.0,377.25,1069.75,2325.0,95799.75
Number_of_items,4844.0,4.742155,8.827937,-5.0,1.00,2.00,5.0,194.00

### Inspect dataframes

In [20]:
df_sales_volume_data.tail()

         Prodno          Product  Year     Month   Sales  Number_of_items
4839    E10600     TheBlindMouse  2020  December  2252.0                4
4840    E40310     KoolKombiBlue  2020  December  3650.0                1
4841    E40322   HoleinOneCooler  2020  December  2895.0                1
4842    E70172       MiniSnowman  2020  December   643.5                2
4843       Ice         FakeDécor  2020  December   360.0                4

### Datetime is a Pandas module that handles time (year, month, date, hour, and so forth).

#### Convert a variable to datetime

In [21]:
df_sales_volume_data['Date']=pd.to_datetime(df_sales_volume_data['Year'].astype(str)+df_sales_volume_data['Month'], format='%Y%B')

In [22]:
df_sales_volume_data

,Prodno,Product,Year,Month,Sales,Number_of_items,Date
0,E10100,ClarencetheCowsmall,2015,January,1590.0,2,2015-01-01
1,E10110,ClarencetheCowmedium,2015,January,1130.0,1,2015-01-01
2,E10120,ClarencetheCowlarge,2015,January,3090.0,2,2015-01-01
3,E10160,ClarencetheCowPlanter,2015,January,4785.0,3,2015-01-01
4,E10200,BrucetheBullsmall,2015,January,1640.0,2,2015-01-01
...,...,...,...,...,...,...,...
4839,E10600,TheBlindMouse,2020,December,2252.0,4,2020-12-01
4840,E40310,KoolKombiBlue,2020,December,3650.0,1,2020-12-01
4841,E40322,HoleinOneCooler,2020,December,2895.0,1,2020-12-01
4842,E70172,MiniSnowman,2020,December,643.5,2,2020-12-01
4843,Ice,FakeDécor,2020,December,360.0,4,2020-12-01